@import "../node_modules/bootstrap/scss/bootstrap.scss";

@font-face {
  font-family: MyFontBold;
  src: url(../assets/fonts/Raleway-Bold.ttf);
}

@font-face {
  font-family: MyFontRegular;
  src: url(../assets/fonts/Raleway-Regular.ttf);
}

header {
  .navbar {
    display: flex;
    background-color: rgb(244, 248, 255);
    margin-top: 0%;
    margin-left: 0%;
    margin-bottom: 10px;
  }

  #logosimbolo {
    margin-top: 5px;
    margin-left: 20px;
    margin-bottom: 5px;
    width: 80px;
    height: 80px;
  }
}

.buscador {
  display: flex;
  width: 15%;
  margin-top: 1%;
  margin-left: 83%;

  .form-control {
    border: 2px solid rgb(74, 114, 176);
    margin-right: 5px;
    font-family: MyFontRegular;
    color: rgb(74, 114, 176);
  }

  .btn {
    border: 2px solid rgb(74, 114, 176);
    color: rgb(74, 114, 176);
  }
}

h1 {
  padding-top: 20px;
  font-family: MyFontbold;
  font-size: 50px;
  text-align: center;
  color: rgb(74, 114, 176);
}

.information {
  font-family: MyFontRegular;
  font-size: 16px;
  color: rgb(74, 114, 176);
  margin-top: 0px;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 80px;
  text-align: center;
}

.information-index {
  font-family: MyFontRegular;
  font-size: 16px;
  color: rgb(74, 114, 176);
  margin-top: 0px;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 20px;
  text-align: center;
}

.slider-box {
  max-width: auto;
  position: relative;
  width: 1000px;
  height: 400px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 100px;
  overflow: hidden;
}

.slider-box ul {
  display: flex;
  padding: 0;
  width: 800%;
  animation: slide 36s infinite alternate ease-in-out;
}

.slider-box li {
  width: 50%;
  list-style: none;
}

.slider-box img {
  width: 50%;
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }

  25% {
    transform: translateX(-25%);
  }

  50% {
    transform: translateX(-50%);
  }

  75% {
    transform: translateX(-75%);
  }

  100% {
    transform: translateX(0%);
  }
}

.container {
  .card {
    display: block;
    align-items: center;
    border-color: rgb(74, 114, 176);
    width: 250px;
    height: 280px;
    padding-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
    margin-inline: 50px;
    margin-block-end: 50px;
    box-shadow: 7px 10px 20px -10px rgba(0, 0, 0, 0.75);

    img {
      width: 200px;
      height: 200px;
    }

    p {
      color: rgb(74, 114, 176);
      font-family: "MyFontBold";
      font-size: 16px;
    }

    :hover {
      transform: scale(1.3);
    }

    .btn {
      text-align: center;
      width: 100px;
      color: rgb(161, 188, 49);
      font-family: "MyFontBold";
    }
  }
}

div a {
  color: rgb(74, 114, 176);
  font-size: 16px;
  font-family: MyFontBold;
  padding-inline: 10px;
  margin-right: 20px;
  text-decoration: none;
}

.title {
  font-family: MyFontBold;
  color: rgb(74, 114, 176);
  font-size: 50px;
  text-align: center;
  padding-top: 30px;
}

.footer {
  width: 100%;
  background-color: rgb(74, 114, 176);
  border-top: 10px solid rgb(161, 188, 49);
}

.social, .links {
  display: flex;
  align-items: center;
}

ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.social a, .links a, .text-center {
  color: #fff;
  text-decoration: none;
  font-family: MyFontRegular;
  margin-inline: 10px;
  margin-block-end: 0%;
}

@media (min-width: 768px) {

  .social,
  .links,
  .text-center {
    flex-basis: 50%;
  }

  .social {
    justify-content: center;
  }

  .links {
    justify-content: center;
  }

  .text-center {
    justify-content: center;
  }
}