@import "../node_modules/bootstrap/scss/bootstrap.scss";

@font-face {
  font-family: MyFontBold;
  src: url(../assets/fonts/Raleway-Bold.ttf);
}

@font-face {
  font-family: MyFontRegular;
  src: url(../assets/fonts/Raleway-Regular.ttf);
}

header {
  margin-top: 0%;
  margin-left: 0%;
  margin-bottom: 10px;

  #logotipo {
    margin-top: 5px;
    margin-left: 20px;
    margin-bottom: 5px;
    width: 80px;
    height: 80px;
  }
}

.d-flex {
  width: 15%;
  margin-top: 1%;
  margin-left: 83%;

  .form-control {
    border-color: rgb(161, 188, 49);
    margin-right: 5px;
    font-family: MyFontRegular;
  }
}

h1 {
  padding-top: 20px;
  font-family: MyFontbold;
  font-size: 50px;
  text-align: center;
  color: rgb(74, 114, 176);

  .information {
    font-family: MyFontRegular;
    font-size: 16px;
    color: rgb(74, 114, 176);
    margin-top: 0px;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
  }
}

.slider-box {
  width: 1000px;
  height: 400px;
  padding-top: 10px;
  margin: 50px auto 0;
  overflow: hidden;
}

.slider-box ul {
  display: flex;
  padding: 0;
  width: 800%;
  animation: slide 36s infinite alternate ease-in-out;
}


.slider-box li {
  width: 50%;
  list-style: none;
}

.slider-box img {
  width: 50%;
}

@keyframes slide {
    0% {
      transform: translateX(0%);
    }
    25% {
      transform: translateX(-25%);
    }
    50% {
      transform: translateX(-50%);
    }
    75% {
      transform: translateX(-75%);
    }
    100% {
      transform: translateX(0%);
    }
  }

.container {
  .card {
    border-color: rgb(74, 114, 176);
    width: 250px;
    height: 280px;
    padding-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
    margin-inline: 50px;
    margin-block-end: 50px;
    box-shadow: 7px 10px 20px -10px rgba(0, 0, 0, 0.75);

    img {
      width: 200px;
      height: 200px;
    }

    p {
        color: rgb(74, 114, 176);
        font-family: "MyFontBold";
        font-size: 16px;
      }

    :hover {
      transform: scale(1.3);
    }

    .btn {
      text-align: center;
      width: 100px;
      color: rgb(161, 188, 49);
      font-family: "MyFontBold";
    }
}
}

div a {
  color: rgb(74, 114, 176);
  font-size: 16px;
  font-family: MyFontBold;
  padding-inline: 10px;
  margin-right: 20px;
  text-decoration: none;
}

.title {
  font-family: MyFontBold;
  color: rgb(74, 114, 176);
  font-size: 50px;
  text-align: center;
  padding-top: 30px;
}

ul {
  .banner {
   text-align: center;
  }
}


section {
  text-align: center;
  padding-top: 20px;
}

#footer {
  background-color: rgb(161, 188, 49);
  margin-top: 50%;
  font-family: MyFontRegular;
}