@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "./variables";
@import "./partials/header";
@import "./partials/body";
@import"./partials/footer";
@import "./partials/index";
@import "./partials/gallery";

@font-face {
  font-family: MyFontBold;
  src: url(../assets/fonts/Raleway-Bold.ttf);
}

@font-face {
  font-family: MyFontRegular;
  src: url(../assets/fonts/Raleway-Regular.ttf);
}