.container {
  .card {
    display: flex;
    justify-content: center;
    border: none;
    width: 250px;
    height: 280px;
    padding-top: 10px;
    margin-inline: 60px;
    margin-block-end: 50px;
    box-shadow: 7px 10px 20px -10px $color-principal;

    img {
      margin-left: 15px;
      width: 200px;
      height: 200px;

      &:hover {
        transform: scale(1.9);
      }
    }

    p {
      color: $color-principal;
      font-family: "MyFontBold";
      font-size: 16px;
      text-align: center;
      margin-top: 10px;
      margin-bottom: 0;
    }

    .btn {
      width: 100px;
      color: $color-secundario;
      font-family: "MyFontBold";
      margin-left: 60px;
    }
  }
}

ul .banner img {
  display: flex;
  width: 1100px;
  height: auto;
  margin-block-end: 80px;
}

